<h1>Artist Index</h1>


<ul>
<% @artists.each do |artist| %>
<li><%= artist.name %>
<%= link_to "show", artist_path(artist)	%>
<%= link_to "Edit", edit_artist_path(artist)	%>
<%= link_to "Delete", artist_path(artist), method: :delete 	%><br><br></li>
<% end %>
<ul>

<br>

<%= link_to "Create new Artist", new_artist_path %>
